h1{
  font-family: 'Droid Sans', sans-serif;
  font-size: 75px;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

.header{
  background-color: #F0A804;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****Media Queries***/
@media screen and (max-width: 444px){
  h1 {
    font-size: 35px;
  }
}

@media screen and (min-width: 445px) and (max-width: 600px) {
  h1 {
    font-size: 48px;
  }
}
