.card-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year{
  padding-left: 5px;
  color: fff;
}

h2 {
  color: #000;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}

.location{
  border-bottom: 1px solid #636363;
  color: #636363;
  font-size: 85%;
}

.data-card {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  color: #fff;
  height: 350px;
  width: 200px;
  margin: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.year-data-wrapper{
  display: flex;
  flex-direction: row;
}

.year,
.data {
  color: #4F4F4F;
  margin: 2px;
  line-height: 20px;
  position: relative;
}

.year-wrapper,
.data-wrapper {
  width: 75px;
}

.year.highlight1 {
  background-color: rgba(96, 206, 85, 0.1);
  width: 5px;
}
.year.highlight2 {
  background-color: rgba(96, 206, 85, 0.2);
  width: 10px;
}
.year.highlight3 {
  background-color: rgba(96, 206, 85, 0.3);
  width: 15px;
}
.year.highlight4 {
  background-color: rgba(96, 206, 85, 0.4);
  width: 20px;
}
.year.highlight5 {
  background-color: rgba(96, 206, 85, 0.5);
  width: 25px;
}
.year.highlight6 {
  background-color: rgba(96, 206, 85, 0.6);
  width: 30px;
}
.year.highlight7 {
  background-color: rgba(96, 206, 85, 0.7);
  width: 35px;
}
.year.highlight8 {
  background-color: rgba(96, 206, 85, 0.8);
  width: 40px;
}
.year.highlight9 {
  background-color: rgba(96, 206, 85, 0.9);
  width: 45px;
}
.year.highlight10 {
  background-color: rgb(96, 206, 85);
  width: 50px;
}
