.card-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year{
  padding-left: 5px;
  color: fff;
}

h2 {
  color: #000;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}

.location{
  border-bottom: 1px solid #636363;
  color: #636363;
  font-size: 85%;
}

.data-card {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  color: #fff;
  height: 350px;
  width: 200px;
  margin: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.year-data-wrapper{
  display: flex;
  flex-direction: row;
}

.year,
.data {
  color: #4F4F4F;
  margin: 2px;
  line-height: 20px;
}

.year-wrapper,
.data-wrapper {
  width: 75px;
}

.year.highlight {
  color: red;
}
