body {
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  justify-content: center;
}

input {
  background-color: #F5F5F5;
  font-size: 20px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-left: 5px;
  width: 350px;
}

input::placeholder {
  color: #4F4F4F;
  font-size: 20px;
}

/****Media Queries****/
@media screen and  (max-width: 400px) {
  input {
    width: 250px;
  }
}
/****Media Queries****/
@media screen and  (max-width: 350px) {
  input {
    width: 200px;
  }
}
